language: python
python:
  - "2.7"
  - "3.5"
  - "3.5-dev"
  - "3.6-dev"
  - "nightly"
before_install:
  - pip install coverage coveralls
script:
  - nosetests --detailed-errors --with-coverage
after_success:
  - coveralls
